@font-face {
  font-family: 'BrandonGrotesque-Bold';
  src: url('Fonts/HvDTrial_Brandon_Grotesque_bold-BF64a625c9151d5.otf') format('opentype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}