/* CSS IMPORTS FILE FOR GLOBAL STYLES */

/* Import fonts */
@import url('../../Assets/Fonts/ClashDisplay_Complete/clash-display.css'); /* my header font */
@import url('../../Assets/Fonts/Satoshi/satoshi.css'); /* my body font */
@import url('../../Assets/Fonts/Space_Grotesk/space-grotesk.css'); /* my interactor font */



/* Colour Palette (Colours prefixed by H), interfaced by var*/
:root {
  --HBlack: #0f1124;
  --HDarkGrey: #112733;
  --HRed: #bf0d22;
  --HTeal: #7891ba;
  --HLightGrey: #a1998e;
}

/* PROJECT HERO STYLES */
.project-hero {
  /* I think these vals get overidden on background change but still good for reference */
  height: 60vh;
  min-height: 400px;
  margin: 10vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.project-hero video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.project-hero .header-1 {
  font-size: clamp(3rem, 8vw, 6rem);
  letter-spacing: 1.8rem;
  text-align: center;
}

/* GLOBAL STYLES */
main {
  padding: 10vh;
}

section {
  margin-bottom: 10vh;
}

body {
  /* default font fallback */
  font-family: 'Satoshi-Regular', sans-serif;
  font-size: clamp(1.1rem, 2vw, 1.5rem);
  line-height: 1.6;
  letter-spacing: 0.01rem;
  color: white;

  background-image: url(../../Assets/web-portfolio-background.png);
  background-size: cover;
  background-attachment: fixed;
}

q {
  font-style: italic;
}

img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  box-sizing: border-box; 

  border-radius: 8px;
  border: var(--HTeal) 2px solid;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

video{
  width: 100%;
  height: 350px;
  object-fit: cover;
  box-sizing: border-box; 

  border-radius: 8px;
  border: var(--HTeal) 2px solid;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.header-1 {
  font-family: 'ClashDisplay-Bold', sans-serif;
  font-size: clamp(4rem, 10vw, 9rem);
  letter-spacing: clamp(0.5rem, 3vw, 2rem);
  line-height: 1.1;
  font-weight: 700;
}

.header-2 {
  font-family: 'ClashDisplay-Semibold', sans-serif;
  font-size: clamp(2.5rem, 5vw, 4.5rem);
  letter-spacing: 0.15rem;
}

h3 {
  font-family: 'ClashDisplay-Medium', sans-serif;
  font-size: clamp(1.8rem, 4vw, 2.8rem);
  letter-spacing: 0.1rem;
  line-height: 1.3;
  font-weight: 500;
}

.content-1 {
  font-family: 'Satoshi-Regular', sans-serif;
  font-size: clamp(1.1rem, 2.2vw, 1.6rem);
  letter-spacing: 0.02rem;
  line-height: 1.6;
  font-weight: 400;
  max-width: 70ch;

  background-color: rgba(0, 0, 0, 0.582);
  border-radius: 8px;
  padding: 5px;
  
  max-width: fit-content;
}

.highlight {
  color: var(--HRed);
}

/* NAV BAR STYLES */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 90rem;
  margin: 0 auto;
  background: rgba(15, 15, 15, 0.65);
  backdrop-filter: blur(10px);
  border-radius: 8px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  padding: 0.5rem 0;
}

nav h1 {
  margin: 0;
  padding: 0;
}

nav h1.header-2 {
  font-family: 'ClashDisplay-Semibold', sans-serif;
  font-size: clamp(2rem, 5vw, 3rem);
  letter-spacing: 0.1rem;
  padding: 0rem 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
}

nav a {
  font-family: 'SpaceGrotesk', sans-serif;
  font-size: clamp(1.3rem, 1.8vw, 2rem);
  letter-spacing: 0.01rem;
  line-height: 1;
  font-weight: 500;

  color: white;
  text-decoration: none;
  transition: color 0.3s;
  padding: 0rem 0.6rem;
}

/* cool neon effect */
nav a:hover {
  color: var(--HRed);
  box-shadow: 0 4px 12px rgba(191, 13, 34, 0.4);
}

/* RESPONSIVE STYLES */
@media (max-width: 768px) {

  /* larger nav buttons for interaction */
  nav a {
    padding: 0.4rem 0.6rem;
    border-radius: 8px;
    font-size: 1.3rem;
  }

  /* stacks header and list and other visual stuff */
  nav {
    flex-direction: column;
    border-radius: 8px;
    padding: 0;
  }

  nav h1{
    font-size: 1.9rem;
    text-align: center;
  }

  main {
    padding: 2vh;
  }

  img{
    height: 200px;
  }

  .project-hero{
    margin: 1vh;
    margin-top: 10vh;
  }


}

/* FOOTER STYLES */
footer {
  position: fixed;
  left: 50%;
  bottom: 2rem;
  transform: translateX(-50%);
  
  display: flex;
  justify-content: center;
  z-index: 1000;
  opacity: 1;
}

footer img {
  border: none;
  width: 60px;
  height: auto;
  filter: invert(1); /* originally black, turns white */
  box-shadow: none;
}

/*  ARROW FADE OUT TRANSITION */

footer.fade-in {
  opacity: 0;
  animation: fadeIn 2.5s forwards;
}

footer.fade-out {
  opacity: 1;
  animation: fadeOut 2.5s forwards;
}


/* animation KEYFRAMES */
@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* DISABLE BLINKING CURSOR */
h1, h2, .header-1, .header-2, img{
  cursor: default;
  user-select: none;
}