/* MAIN PAGE STYLESHEET */
/* Import Brandon Grotesque font */
@import url("StyleSheetImports/fontface-styles.css");

/* import global styles */
@import url("StyleSheetImports/global-styles.css");


/* HIDDEN HEADER CLASS FOR SEO */

.hidden {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

/* HERO SECTION STYLES */
.title-hero {
  background: linear-gradient(135deg, var(--HRed) 0%, var(--HDarkGrey) 100%);
  text-align: center;
  padding: clamp(8rem, 10vh, 15rem) 1rem;
  margin: 10vh;
}

.title-hero .header-1 {
  letter-spacing: 1.5rem;
}

/* ABOUT SECTION STYLES */
.about {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.about .header-2{
  margin-bottom: 0;
}

.headshot-img {
  width: 280px;
  height: 280px;
  display: block;
  border-radius: 50%;
  border: 3px solid var(--HDarkGrey);
  object-fit: cover;
}

/* PROJECTS SECTION STYLES */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.project-grid a {
  text-decoration: none;
  text-align: center;
  color: var(--HWhite);
}

.project-card {
  background: var(--HDarkGrey);
  padding: 2rem;
  border-radius: 8px;
  border: 1px solid #4c0a0a;
  transition: transform 0.3s, box-shadow 0.3s;
  font-style: normal;
}

/* make project cards show click pointer when hovered */
.project-card img {
  cursor: pointer;
}

.project-card:hover {
  margin-top: -5px;
  box-shadow: 0 10px 10px rgba(10, 10, 10, 0.2);
}


/* CONTACT SECTION STYLES */
.contact {
  padding-bottom: 6rem;
  margin-bottom: 0px;
}

.contact .header-2 {
  margin-bottom: 0;
}

a{
  color: var(--HTeal);
  font-style: italic;
}

address{
  display: flex;
}

.email-prompt {
  font-size: 1.2rem;
  font-style: italic;
  padding: 1px;
}


/* TABLE STYLES */

table {
  width: 60%;
  margin-bottom: 2rem;
  background-color: var(--HDarkGrey);

  border: 2px solid var(--HBlack);
  border-radius: 8px;
  border-spacing: 0;
}

th {
  border-bottom: 2px solid var(--HBlack);
}

table li{
  margin-left: 20px;
}

tr:nth-child(odd) {
  background-color: var(--HGrey);
}

td{
  font-size: clamp(0.8rem, 1.1vw, 1.3rem);
}

.left-column {
  border-right: 2px solid var(--HBlack);
}

.typing-image {
    width: 300px;
    height: 300px;
}

/* RESPONSIVE STYLES */
@media (max-width: 768px) {

   .title-hero{
    margin: 1vh;
    margin-top: 15vh;
  }

  .title-hero .header-1 {
    letter-spacing: 0.5rem;;
  }

  .headshot-img {
    width: 200px;
    height: 200px;
  }

    .typing-image {
    width: 200px;
    height: 200px;
  }

  address{
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  table {
    width: 100%;
  }

}



