/* MAIN PAGE STYLESHEET */
/* Import Brandon Grotesque font */
@import url("StyleSheetImports/fontface-styles.css");

/* import global styles */
@import url("StyleSheetImports/global-styles.css");


/* HIDDEN HEADER CLASS FOR SEO */

.hidden {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

/* HERO SECTION STYLES */
.hero {
  background: linear-gradient(135deg, var(--HRed) 0%, var(--HDarkGrey) 100%);
  text-align: center;
  padding: clamp(8rem, 10vh, 15rem) 1rem;
  border-bottom: none;
}

/* ABOUT SECTION STYLES */
.about {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 4rem;
  padding: 4rem 2rem;
  flex-wrap: wrap;
}
.about .content-1 {
  max-width: 600px;
  font-size: 1.1rem;
  line-height: 1.6;
}

.headshot-img {
  width: 180px;
  height: auto;
  display: block;
  margin-top: 1rem;
  border-radius: 50%;
  border: 3px solid var(--HDarkGrey);
  object-fit: cover;
}

/* PROJECTS SECTION STYLES */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.project-card {
  background: #262323;
  padding: 2rem;
  border-radius: 8px;
  border: 1px solid #4c0a0a;
  transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.project-link {
  text-decoration: none;
  text-align: center;
  color: white;
}

/* CONTACT SECTION STYLES */
.contact {
  padding-bottom: 6rem;
  margin-bottom: 0px;
}

a{
  color: var(--HTeal);
  font-weight: 700;
  font-size: large;
}

.email-prompt {
  font-size: 1.2rem;
  font-style: italic;
  margin: 0rem;
}

/* RESPONSIVE STYLES */
@media (max-width: 768px) {
  .about {
    padding: 2rem 1rem;
    gap: 2rem;
  }

  section h2 {
    font-size: 2rem;
  }
}
