/* MAIN PAGE STYLESHEET */
/* Import Brandon Grotesque font */
@import url("StyleSheetImports/fontface-styles.css");
/* import global styles */
@import url("StyleSheetImports/global-styles.css");

project-hero {
    background: url();
    display: flex;
}

/* HERO */
.project-hero {
  background: url("../Assets/GamePhotos/PackASnack/pack-a-snack.png") center/cover;
}
