/* MAIN PAGE STYLESHEET */
/* import global styles */
@import url("StyleSheetImports/global-styles.css");

.project-hero{
  background-image: url(../Assets/GamePhotos/ProjectedHelmetUI/projected-helmet-ui-anim.gif);
}

body {
  margin: 0 auto;
  padding: 0 1rem;
}

img {
  max-width: 50%;
  height: auto;
  display: flex;
  margin: 5px;
}

a {
  color: var(--HTeal);
}

@media (max-width: 768px) {
  .project-hero .header-1{
    letter-spacing: 5px;
  }
}
