/* MAIN PAGE STYLESHEET */
/* import global styles */
@import url("StyleSheetImports/global-styles.css");

main {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.title {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 350px;
  padding-right: 250px;
  background-image: url("../Assets/GamePhotos/ProjectedHelmetUI/projected-helmet-ui-anim.gif");
  background-size: cover;
  flex: auto;
  justify-content: center;
}

.title h1 {
  font-size: 100px;
  letter-spacing: 9px;
}

image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

a {
  color: white;
}
