/* CSS IMPORTS FILE FOR GLOBAL STYLES */
/* Importing font face styles */
@import url("./fontface-styles.css");

/* Colour Palette (Colours prefixed by H)*/
:root {
  --HBlack: #0f1124;
  --HDarkGrey: #112733;
  --HRed: #bf0d22;
  --HTeal: #7891ba;
  --HLightGrey: #a1998e;
  --scale-factor: 1; /* Default scale, adjust this to scale everything */
}

/* MAIN CONTENT STYLES */
main {
  max-width: 100rem;
  margin: auto;
  padding: 0 2rem;
}

section {
  scale: 100%;
  max-width: 90;
  margin: 1.8rem auto;
  padding: 3rem;
  border-radius: 3px;
  background-clip: border-box;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.25);
  align-self: center;
  padding: calc(3rem * var(--scale-factor));
  margin: calc(1.8rem * var(--scale-factor)) auto;
}

section h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: white;
}

/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../Resources/WebPortfolioBG.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: brandon-grotesque, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 100;
  line-height: 1.6;
  color: white;
}
q {
  font-style: italic;
  font-weight: 300;
}
img {
  max-width: 100%;
  height: auto;
  border: var(--HTeal) 2px solid;
  border-radius: 8px;
}

.header-1 {
  font-family: brandon-grotesque, Helvetica, sans-serif;
  font-size: calc(80px * var(--scale-factor));
  font-style: bold;
  font-weight: 1000;
  text-transform: uppercase;
  letter-spacing: calc(40px * var(--scale-factor));
  line-height: normal;
  color: var(--HDarkGrey);
}

.header-2 {
  font-family: brandon-grotesque, Helvetica, sans-serif;
  font-size: calc(40px * var(--scale-factor));
  font-style: normal;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: calc(75px * var(--scale-factor));
  text-transform: uppercase;
  color: white;
}

.content-1 {
  font-family: Helvetica, sans-serif;
  font-size: calc(18px * var(--scale-factor));
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: calc(36px * var(--scale-factor));
  text-transform: none;
  color: white;
}

.content-2 {
  font-family: Helvetica, sans-serif;
  font-size: calc(18px * var(--scale-factor));
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: calc(36px * var(--scale-factor));
  text-transform: none;
  color: white;
}

.highlight {
  color: var(--HRed);
  font-weight: 900;
}

/* NAV BAR STYLES */
nav {
  max-width: 1200px; /* changed to px from rem due to issues */
  width: calc(100% - 2rem);
  margin: 0 auto;
  padding: 0.6rem 1rem;
  display: flex;
  justify-content: space-between; /* replaces fixed gap */
  background: rgba(0, 0, 10, 0.75);
  border-radius: 8px;
}
/* THIS NAV BAR DOESENT SCALE PROPERLY?!?!?!? */
nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav h1 {
  color: white;
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: left;
}

nav a {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s;
  padding: 0.4rem 0.6rem;
  border-radius: 8px;
}

nav a:hover {
  color: var(--HRed);
}

header {
  position: fixed;
  top: -0.1rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 200;
  background: transparent;
  margin: 0;
}

/* RESPONSIVE STYLES */
/* ESSENTIALLY MOBILE SUPPORT, ISNT TRIGGERING!?!?!?*/
@media (maxwidth = 768px) {
  header {
    position: sticky;
    top: 0;
    left: 0;
    bottom: auto;
    transform: none;
    width: 100%;
    font-size: small;
  }

  /* larger nav buttons */
  nav a {
    padding: 0.4rem 0.6rem;
    border-radius: 8px;
  }

  /* switches nav bar to column bar if mobile device */
  nav {
    max-width: 100%;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    justify-content: space-between;
  }

  nav {
    flex-direction: column;
    gap: 1rem;
  }

  nav ul {
    flex-direction: column;
    gap: 0.5rem;
  }
}
